.acordeon_plugin > ul{
    padding: 0;
}
.acordeon_plugin > ul > li{
    list-style: none;
}
.acordeon_header{
    font-size: 1.5em;
    line-height: 2em;
    border: 1px solid #ccc;
    background: #e8e8e8;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
}
.acordeon_header:before{
    content: '-';
    float: right;
    margin-right: 10px;
}
.acordeon_bloque.closed .acordeon_header:before{
    content: '+';
}
.acordeon_bloque {
    overflow: hidden;
}
.acordeon_content{
    margin: 10px 10px 20px;
    overflow: hidden;
    position: relative;
    left: -100vw;
    height: 0;
}

.acordeon_plugin.useCss .acordeon_content{
    height: auto;
    left: 0;
    max-height: 500px;
    transition: max-height 1.25s ease-in, left 0.6s ease-in;
}
.acordeon_plugin.useCss .acordeon_bloque.closed .acordeon_content{
    max-height: 0;
    left: -100vw;
    transition: max-height 0.75s -0.4s ease-out, left 0.6s ease-in;
}


.modal_plugin{
    background: rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right: 0;
}
.modal_container{
    position: fixed;
    top:25vh;
    left:0;
    right: 0;
    width: 60%;
    height: 25vh;
    margin: 0 auto;
    background: #ffffff;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
}
.modal_container.visible{
    animation: load 2s;
}
@keyframes load {
    from{
        top: -25vh
    }
    to{
        top: 25vh;
    }
}


.modal_content{
    opacity: 0;
}
.modal_content.visible{
    opacity: 1;
    transition: opacity 2s 2s;
}
.modal_close{
    margin-top: 10px;
}

