.tabla_plugin{
    width: 100%;
}
.tabla_plugin > ul{
    padding: 0;
    display: block;
    width: 80%;
    margin: auto;
}
.tabla_plugin > ul > li{
    display: inline-block;
    width: 25%;
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: bottom;
}
.tabla_plugin > ul > li > img{
    width: 100%;
}
.tabla_plugin_botonera{
    text-align: center;
}
.tabla_plugin .btn{
    background: #fff;
    border: 1px solid #666;
    margin: 10px 6px;
}

.jquery-modal .modal{
    overflow: visible;
}

.tabla_plugin li[data-many='1']{
    border-bottom: 4px solid #ff0000;
}
.tabla_plugin li[data-many='1'].hidden{
    display: none;
}